<div class="footer-container row">
  <div class="container">
    <div class="col-sm-3 pull-left">© 2015 Equipment Alley</div>
    <div class="col-sm-9 text-right pull-right">
      <ul class="list-unstyled list-inline footer-list m-0">
        <!-- Terms and Conditions -->
        <li><a href="">{{languageregionData?.termsAndCondition}}</a></li>
        <!-- Privacy Policy -->
        <li><a href="" class="ng-binding">{{languageregionData?.privacyPolicy}}</a></li>
        <!-- Site Map -->
        <li><a href="">{{languageregionData?.siteMap}}</a></li>
        <!-- Contact Us -->
        <li><a href="">{{languageregionData?.contactUs}}</a></li>
      </ul>
    </div>
  </div>
</div>
